<!------------ Heding ------------>
<section class="project-cs-hero">
    <div class="project-cs-hero__content">
        <h1 class="heading-primary">Barfery Days Website</h1>
        <div class="project-cs-hero__info">
            <p class="text-primary">
                This page contains the case study of Yubter Web App which includes the Project Overview and Tools Used.</p>
        </div>
        <div class="project-cs-hero__cta">
            <a href="https://github.com/OhmYimDev/BarferyDays-website.git" class="btn btn--bg" target="_blank">Code</a>
        </div>
    </div>
</section>

<!------------ Project details ------------>
<section class="project-details">
    <div class="main-container">
        <div class="project-details__content">
            <div class="project-details__showcase-img-cont">
                <img src="assets/images/project_2/homepage.jpg" 
                alt="Project Image" class="project-details__showcase-img ">
            </div>

            <div class="project-details__showcase-img-cont">
                <img src="assets/images/project_2/table.jpg" 
                alt="Project Image" class="project-details__showcase-img">
            </div>

            <div class="project-details__showcase-img-cont">
                <img src="assets/images/project_2/stock-history.jpg" 
                alt="Project Image" class="project-details__showcase-img">
            </div>

            <div class="project-details__showcase-img-cont">
                <img src="assets/images/project_2/stockin.jpg" 
                alt="Project Image" class="project-details__showcase-img">
            </div>
            
            <div class="project-details__showcase-img-cont">
                <img src="assets/images/project_2/raw-material.jpg" 
                alt="Project Image" class="project-details__showcase-img mb">
            </div>


            <div class="project-details__content-main">
                <div class="projects-details__desc">
                    <h3 class="project-details__content-title">Project Overview</h3>
                    <p class="project-details__desc-para">
                        Barfery Days is a website I created for fun. and put it into practice in the Barfery Days Shop.</p>
                    
                    <p class="project-details__desc-para">
                        I work part-time at Barfery days shop. I am responsible for managing products in the shop such as 
                        packing parcels, Check the amount of inventory, Check the amount of raw materials remaining, etc.</p>
                    
                    <p class="project-details__desc-para">
                        Checking inventory every time an order arrives at the store is tedious. I can't figure out how many pieces are left. So I 
                        thought it was easy to create a website. it's fun where I can save the number of every item in the shop, can add, delete, 
                        edit at any time. And every store employee can log in to view this information from anywhere.</p>

                    <p class="project-details__desc-para">
                        It became a Barfery Days website with simple functionality using PHP CRUD connected to phpmyadmin for data management. Website 
                        operations such as adding, removing, modifying the number of products. Show product management history By displaying the product 
                        management list, date, time, etc., making it convenient to check products every day.</p>
                </div>



                <div class="project-details__tools-used">
                    <h3 class="project-details__content-title">Tools Used</h3>
                    <div class="skills">
                        <div class="skills__skill">HTML</div>
                        <div class="skills__skill">CSS</div>
                        <div class="skills__skill">Bootstrap</div>
                        <div class="skills__skill">SQL</div>
                        <div class="skills__skill">PHP</div>
                        <div class="skills__skill">PHPmyadmin</div>
                    </div>
                    <div class="project-details__links">
                        <h3 class="project-details__content-title">See Code</h3>
                        <a href="https://github.com/OhmYimDev/BarferyDays-website.git" 
                        class="btn btn--med btn--theme project-details__links-btn" target="_blank">
                            Code
                        </a>
                        <a routerLink="" 
                        class="btn btn--med btn--theme-inv project-details__links-btn" >
                            Go Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

