.project-cs-hero {
    color: #fff;
    position: relative;
    background: #001929f3;
}
@media only screen and (max-width: 37.5em) {
    .project-cs-hero {
        height: unset;
        min-height: unset;
    }
}

.project-cs-hero__content {
    padding: 25rem 0 17rem 0;
    max-width: 90rem;
    width: 92%;
    margin: auto;
}
@media only screen and (max-width: 37.5em) {
    .project-cs-hero__content {
        padding: 19rem 0 13rem 0;
        margin: auto;
        position: static;
        transform: translate(0, 0);
    }
}

.project-cs-hero__info {
    margin: 3rem auto 0 auto;
    max-width: 80rem;
}

.project-cs-hero__cta {
    margin-top: 5rem;
    text-align: center;
}

.project-details__content {
    padding: 8rem 0;
    max-width: 90rem;
    margin: auto;
}
@media only screen and (max-width: 37.5em) {
    .project-details__content {
        margin-bottom: -7rem;
    }
}

.project-details__content-title {
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 3rem;
}
@media only screen and (max-width: 37.5em) {
    .project-details__content-title {
        font-size: 2.4rem;
    }
}

.project-details__showcase-img-cont {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}
.project-details__showcase-img-cont_row-2 {
    width: 100%;
    margin-bottom: 6rem;
    display: flex;
    justify-content: space-between;
}

.project-details__showcase-img {
    width: 100%;
    /* margin-right: .5rem; */
    border-radius: 10px;
    border: 1px solid #001929;
}
.mr-none {
    margin-right: 0;
}
.mb {
    margin-bottom: 3rem;
}


.project-details__content-main {
    width: 100%;
    max-width: 70rem;
    margin: auto;
}

.project-details__desc {
    margin: 0 0 7rem 0;
}
.project-details__desc-para {
    font-size: 1.8rem;
    line-height: 1.7;
    color: #000;
    margin-bottom: 2rem;
}

.project-details__tools-used {
    margin: 0 0 7rem 0;
}

.project-details__links {
    margin: 0;
}
.project-details__links-btn {
   margin-right: 2rem;
}
@media only screen and (max-width: 37.5em) {
    .project-detail__links-btn {
        margin-right: 0;
        width: 70%;
        margin-bottom: 2rem;
        text-align: center;
    }
}

.project-detail__links-btn:last-child {
    margin: 0;
}
@media only screen and (max-width: 37.5em) {
    .project-details__links-btn:last-child {
        margin: 0;
    }
}