<!------------ Heding ------------>
<section class="project-cs-hero">
    <div class="project-cs-hero__content">
        <h1 class="heading-primary">Attractions Paper</h1>
        <div class="project-cs-hero__info">
            <p class="text-primary text-white">
                This page contains the case study of Yubter Web App which includes the Project Overview and Tools Used.</p>
        </div>
        <div class="project-cs-hero__cta">
            <a href="https://github.com/OhmYimDev/ionic-project.git" class="btn btn--bg" target="_blank">Code</a>
        </div>
    </div>
</section>

<!------------ Project details ------------>
<section class="project-details">
    <div class="main-container">
        <div class="project-details__content">
            <div class="project-details__showcase-img-cont d-flex gap-4 flex-wrap justify-content-center">
                <img src="assets/images/project_1/attr_app.jpg" 
                    alt="Project Image" class="project-details__showcase-img">
                <img src="assets/images/project_1/attr_app_2.jpg" 
                    alt="Project Image" class="project-details__showcase-img">
                <img src="assets/images/project_1/attr_app_3.jpg" 
                    alt="Project Image" class="project-details__showcase-img mr-none">
                <img src="assets/images/project_1/attr_app_4.jpg" 
                    alt="Project Image" class="project-details__showcase-img">
                <img src="assets/images/project_1/attr_app_5.jpg" 
                    alt="Project Image" class="project-details__showcase-img">
                <img src="assets/images/project_1/attr_app_6.jpg" 
                    alt="Project Image" class="project-details__showcase-img mr-none">
            </div>

            <div class="project-details__content-main">
                <div class="projects-details__desc">
                    <h3 class="project-details__content-title">Project Overview</h3>
                    <p class="project-details__desc-para">
                        Attraction paper is an Android mobile application built from Ionic framework
                         that works with Angula framework, the application is connected to the 
                         phpmyadmin database using sql and php to manage the database. The features 
                         include Subscriptions, Logins, Check Ins, Rating Reviews, Location Map, 
                         Writing New Attractions and ranking of popular tourist attractions.                    
                    </p>
                    
                    <p class="project-details__desc-para">
                        I was inspired by similar platforms like Wongnai for example and thought it would be a 
                        fun project to make my own application, in the beginning I only had a little 
                        knowledge of html css php and sql. So it was a challenge that I had to learn a few more 
                        things in the course of this project, the first thing I learned was how to use the ionic 
                        framework. I encountered some confusion in the placement of files in the project. After I 
                        tried to learn it i think i can do it And having created a html page and decorated it with css, 
                        I'm having trouble understanding the layout of the elements. This makes the coding in this project 
                        seem as inaccurate as it could be. But now I have learned it.
                    </p>
                    
                    <p class="project-details__desc-para">
                        I think it's exciting to create something. And of course I had fun doing it. Later I did more 
                        research on using type scripts for creating functions to handle sending requests to php files to 
                        contact the database. It's new to me. I'm trying to figure out how to code it to work the way I want, 
                        even if I don't understand how it works. (just at that time) and I created a database and files. php to 
                        connect to the database.
                    </p>

                    <p class="project-details__desc-para">
                        I learned a lot working on this project. And I've done all of this myself. I'm proud to be able to Even if 
                        it still doesn't do it correctly as it should. But I learned it.                    
                    </p>
                </div>



                <div class="project-details__tools-used">
                    <h3 class="project-details__content-title">Tools Used</h3>
                    <div class="skills">
                        <div class="skills__skill">HTML</div>
                        <div class="skills__skill">CSS</div>
                        <div class="skills__skill">TypeScript</div>
                        <div class="skills__skill">SQL</div>
                        <div class="skills__skill">PHP</div>
                        <div class="skills__skill">IONIC</div>
                        <div class="skills__skill">PHPmyadmin</div>
                    </div>
                    <div class="project-details__links">
                        <h3 class="project-details__content-title">See Code</h3>
                        <div class="d-flex flex-wrap gap-4">
                            <a href="https://onedrive.live.com/?authkey=%21AAR4ZQ9qbnS8ACQ&cid=71349F4C094B5B94&id=71349F4C094B5B94%21108&parId=71349F4C094B5B94%21104&action=locate" 
                                class="btn btn--med btn--theme p-3">App Download for Android</a>
                            <a href="https://github.com/OhmYimDev/ionic-project.git" 
                                class="btn btn--med btn--theme project-details__links-btn m-0" target="_blank">
                                Code
                            </a>
                            <a routerLink="" 
                                class="btn btn--med btn--theme-inv project-details__links-btn " >
                                Go Back
                            </a>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

