<!------------ Heding ------------>
<section class="project-cs-hero">
    <div class="project-cs-hero__content">
        <h1 class="heading-primary">Attractions Paper</h1>
        <div class="project-cs-hero__info">
            <p class="text-primary">
                This page contains the case study of Yubter Web App which includes the Project Overview, Tools Used and Live Links to the official product.             </p>
        </div>
        <div class="project-cs-hero__cta">
            <a href="#" class="btn btn--bg" target="_blank">Live Link</a>
        </div>
    </div>
</section>

<!------------ Project details ------------>
<section class="project-details">
    <div class="main-container">
        <div class="project-details__content">
            <div class="project-details__showcase-img-cont">
                <img src="assets/images/project_1/attr_app.jpg" 
                alt="Project Image" class="project-details__showcase-img">
                <img src="assets/images/project_1/attr_app_2.jpg" 
                alt="Project Image" class="project-details__showcase-img">
                <img src="assets/images/project_1/attr_app.jpg" 
                alt="Project Image" class="project-details__showcase-img">
                <img src="assets/images/project_1/attr_app.jpg" 
                alt="Project Image" class="project-details__showcase-img">
            </div>

            <div class="project-details__content-main">
                <div class="projects-details__desc">
                    <h3 class="project-details__content-title">Project Overview</h3>
                    <p class="project-details__desc-para">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae accusamus 
                        ullam laborum iste. illo voluptatum et optio in? illo voluptatum et optio in?
                        Amet repudiandae, illo voluptatum et optio in? illo voluptatum et optio in?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque rem molestias cumque 
                        suscipit dolorum aperiam labore est placeat doloremque ipsa?
                    </p>
                    
                    <p class="project-details__desc-para">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae accusamus 
                        ullam laborum iste. illo voluptatum et optio in? illo voluptatum et optio in?
                        Amet repudiandae, illo voluptatum et optio in? illo voluptatum et optio in?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque rem molestias cumque 
                        suscipit dolorum aperiam labore est placeat doloremque ipsa?
                    </p>
                </div>
                <div class="project-details__tools-used">
                    <h3 class="project-details__content-title">Tools Used</h3>
                    <div class="skills">
                        <div class="skills__skill">HTML</div>
                        <div class="skills__skill">CSS</div>
                        <div class="skills__skill">Javascript</div>
                        <div class="skills__skill">SQL</div>
                        <div class="skills__skill">PHP</div>
                        <div class="skills__skill">GIT</div>
                    </div>
                    <div class="project-details__links">
                        <h3 class="project-details__content-title">See Live</h3>
                        <a href="#" class="btn btn--med btn--theme project-details__links-btn" target="_blank">
                            Live Link
                        </a>
                        <a href="#" class="btn btn--med btn--theme-inv project-details__links-btn" target="_blank">
                            Code Link
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
    <mdb-carousel-item>
      <img
        src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).webp"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="https://mdbootstrap.com/img/Photos/Slides/img%20(22).webp"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="https://mdbootstrap.com/img/Photos/Slides/img%20(23).webp"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel> -->