<!----------------------------------- Footer --------------------------------->
<footer class="main-footer">
    <div class="main-container">
        <div class="main-footer__upper">
            <div class="main-footer__row main-footer__row-1">
                <h2 class="heading heading-sm main-footer__heading-sm">
                    <span>Social</span>
                </h2>
                <div class="main-footer__social-cont">
                    <a href="https://github.com/OhmYimDev" target="_blank">
                        <img src="assets/png/github.png" 
                        alt="icon" class="main-footer__icon">
                    </a>
                    <a href="https://www.facebook.com/ohm.yim.58/" target="_blank">
                        <img src="assets/png/facebook-icon.png" 
                        alt="icon" class="main-footer__icon">
                    </a>
                    <a href="https://www.instagram.com/ohmyenyen/" target="_blank">
                        <img src="assets/png/instagram-icon.png" 
                        alt="icon" class="main-footer__icon main-footer__icon--mr-none">
                    </a>
                </div>
            </div>

            <div class="main-footer__row main-footer__row-2">
                <h4 class="heading heading-sm text-lt">Phongphan Dechwongya</h4>
                <p class="main-footer__short-desc">
                    Living, learning, & leveling up one day at a time.</div>
        </div>

        <div class="main-footer__lower">
            &copy; Copyright 2021. Made by
            <a rel="noreferrer" target="_blank" href="https://rammaheshwari.com"
            >Ram Maheshwari</a
          >
        </div>
    </div>
</footer>