<!------------ Heding ------------>
<section class="project-cs-hero">
    <div class="project-cs-hero__content">
        <h1 class="heading-primary">React CRUD</h1>
        <div class="project-cs-hero__info">
            <p class="text-primary text-white">
                This page contains the case study of Yubter Web App which includes the Project Overview and Tools Used.</p>
        </div>
        <div class="project-cs-hero__cta">
            <a href="https://github.com/OhmYimDev/React-CRUD-workshop.git" class="btn btn--bg" target="_blank">Code</a>
        </div>
    </div>
</section>

<!------------ Project details ------------>
<section class="project-details">
    <div class="main-container">
        <div class="project-details__content">
            <div class="project-details__showcase-img-cont d-flex flex-column align-items-center gap-5">
                <img src="assets/images/project_7/page_1.jpg" 
                alt="Project Image" class="project-details__showcase-img mb-5">
                <img src="assets/images/project_7/page_2.jpg" 
                alt="Project Image" class="project-details__showcase-img_2 ">
            </div>

            <div class="project-details__content-main">
                <div class="projects-details__desc">
                    <h3 class="project-details__content-title">Project Overview</h3>
                    <p class="project-details__desc-para">
                        This project is to practice using React framework with CRUD app. then
                        fetch data from api and display to table, and be able to add, edit, delete data in tables.
                        What I have learned from doing this project are React Router, useState, useEffect, useParams, etc.         
                    </p>                 
                </div>

                <div class="project-details__tools-used">
                    <h3 class="project-details__content-title">Tools Used</h3>
                    <div class="skills">
                        <div class="skills__skill">React Framework</div>
                        <div class="skills__skill">MUI Material</div>
                    </div>
                    <div class="project-details__links">
                        <h3 class="project-details__content-title">See Code</h3>
                        <a href="https://github.com/OhmYimDev/React-CRUD-workshop.git" 
                        class="btn btn--med btn--theme project-details__links-btn" target="_blank">
                            Code
                        </a>
                        <a routerLink="" 
                        class="btn btn--med btn--theme-inv project-details__links-btn" >
                            Go Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

